.container{
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.content{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}
.content img{
    width: 200px;
}
.container img{
    width: 400px;
}